@charset "UTF-8";
/* CSS Document */

/* Globale */

html {
  box-sizing: border-box;
  font-size:62.5%; /*husk å bruk rem*/
}

body, html {height:100%; overflow:auto;}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

*, *:before, *:after {
    padding:0;
    margin:0;
    font-size:100%;
    box-sizing: inherit;
    font-family: 'EB Garamond', serif;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #f1a664; 
}

::selection {
    color: white;
    background: #f1a664; 
}

a {
    color:#f1a664;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color:white;
}

p.thick {
    font-weight: bold;
}

/* Startside */

    /* navigation */

header {
    position:relative;
}

.site-nav {
    position:fixed;
    background:rgb(241, 239, 236);
    width:260px;
    height:100vh;
    /*top:100%;*/
    right:-260px;
    overflow-y: scroll;
    z-index:5000;
}

.site-nav ul {
    list-style:none;
    text-align:left;
    margin-top:50px;
}

.site-nav a {
    display:block;
    padding:15px 30px;
    font-size:2.0rem;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.site-nav a:hover,
.site-nav a:focus {
    background:#f1a664;
}

.site-nav--open {
    right:0px;
}

.site-nav-inner {overflow:scroll; -webkit-overflow-scrolling:touch;
}

.menu-toggle {
    padding: 10px 7px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    z-index:6000;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: black;
    height: 3px;
    width: 20px;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

.open .hamburger::before {
    opacity:0;
}

#language-bar { 
    position:absolute;
    top:15px;
    right:130px;
    width:auto;
}

svg.uk-flag {
    margin-right:7px;
}

svg.norway-flag, svg.uk-flag {
    height:12px;
    width:auto;
    cursor: pointer;
    float:right;
}

.norway-flag path, .uk-flag path {
    transition: fill ease-in-out .3s ;
}

.norway-flag:hover path, .uk-flag:hover path{
    fill: white;
}

#skole, #skole2, #print-map, #donate {
    position:absolute;
    top:5px;
    right:250px;
    -webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
    transform: rotate(4deg);
}

#skole a, #skole2 a, #print-map a, #donate a {
    font-size:1.6em;
    color:white;
    background-color:#f1a664;
    padding:10px 5px 5px 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

#print-map {
    right:360px;
}

#donate {
    right:485px;
}

#skole a:hover, #print-map a:hover, #donate a:hover {
    background-color:white;
    color:#f1a664;
}

#skole2 a:hover {
    background-color: black;
}

.laerer-info, .elev-info {
    margin-bottom:15px;
    width:100%;
    padding:10px;
    background-color:#f1a664;
    border:none;
    outline:none;
    font-size:2rem;
    text-align:left;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.laerer-info:hover, .elev-info:hover {
    background-color:#4f8bc6;
    color:white;
}

.responsive-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.skole-liste {
    list-style-image: url('../img/favicon_16.png');
    list-style-position: inside;
}

.skole-liste2 {
    list-style-type: decimal;
    list-style-position: inside;
}

div.arrow-up, div.arrow-down, div.arrow-up2, div.arrow-down2 {
    float:right;
    font-size:1.5rem;
    line-height:0;
    margin-top:15px;
}

/*#language-bar ul {
    list-style: none;
}*/

/*
#language-menu {
    display:none;
    position:absolute;
    width:80px;
    top:80px;
    right:15px;
    overflow:hidden;
    z-index:3600;
}

#language-menu ul {
    list-style: none;
    text-align: left;
}

#language-menu a {
    display:block;
    padding:2px 10px;
    font-size:1.3rem;
    color:black;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

#language-menu a:hover {
    color:white;
}

.language-menu-toggle {
    padding: 5px 7px;
    font-size:1.3rem;
    position: absolute;
    width:100px;
    height:30px;
    text-align:left;
    top: 50px;
    right: 15px;
    cursor: pointer;
    z-index:2000;
}

.language-menu-toggle p {
    font-weight: bold;
    float:left;
}

.language-menu-toggle::before {
    content:'';
    display:inline-block;
    margin:5px 7px;
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    
    border-left: 5px solid black;
    cursor: pointer;
}

.open.language-menu-toggle::before{
    transform: rotate(90deg);
    transition: all ease-in-out 500ms;

}*/

    /*logoer*/

.tidvis-logo {
    position:absolute;
    width: 50px;
    top:11px;
    right:60px;
    cursor: pointer;
}

.tidvis-logo path {
    fill:black;
    transition: fill ease-in-out .3s ;

}

#partnere {
    width:100%;
    height:auto;
    max-width:1100px;
    position:fixed;
    padding:0px 40px 0px 40px;
    z-index:2000;
    bottom:10px;
}

.partnere {
    /*width:7.2%;*/
    width:100%;
    height:auto;
    /*max-height:50px;*/
    min-width:30px;
    /*margin-left:5px;
    margin-right:5px;*/
    vertical-align:middle;
}

.partnere_mobil {
    display:none;
}

/*#logo-app {
    position:absolute;
    left:20px;
    top:20px;
    width:300px;
    z-index:100;
    overflow:visible;
}*/

/* The Modal (background) */
/*.modal {
    display: visible; /* Hidden by default */
  /*  position: fixed; /* Stay in place */
  /*  z-index: 9000; /* Sit on top */
  /*  left: 0;
    top: 0;
    width: 100%; /* Full width */
  /*  height: 100%; /* Full height */
  /*  overflow: auto; /* Enable scroll if needed */
  /*  background-color: rgb(0,0,0); /* Fallback color */
  /*  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /*  overflow: scroll;
    -webkit-overflow-scrolling:touch;
}

/* Modal Content/Box */
/* Modal Content */
/*.modal-content {
    position: relative;
    background-color: rgb(241, 239, 236);
    background-image: url(../img/lightpaperfibers.png);
    /*border:17px ridge #f1a664;    */
   /* margin: auto;
    padding: 4em;
    padding-top:8em;
    /*top:50%;
    transform :translateY(-50%);*/
  /*  top:-40px;
    width: 80%;
    max-width:600px;
    /*-webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
  /*  animation-name: animatetop;
    animation-duration: 0.4s;
    /*border: #2e1a12 solid 15px;
    -webkit-box-shadow: inset 0px 0px 10px #0000006b;
    -webkit-border-image: url(../img/wood.png) 200 stretch;
    -moz-border-image: url(../img/wood.png) 250 stretch;
    border-image: url(../img/wood.png) 250 stretch;*/
  /*  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
    transform: rotate(4deg);
    -webkit-overflow-scrolling: touch;
}

.modal-content p, .modal-content h1, .modal-content h2 {
    color:rgb(66, 66, 66);
    background-blend-mode: multiply;
}

.modal-content h1 {
    font-size:3.8rem;
    line-height:40px;
    margin-bottom:10px;
}

.modal-content h2 {
    font-size:2.3rem;
    line-height:32px;
    margin-top:25px;
    margin-bottom:15px;
}

.modal-content p {
    font-size: 1.7rem;
    line-height:23px;
    margin-bottom:15px;
}

/* The Close Button */
/*.close {
    color: rgb(175, 175, 175);
    position:fixed;
    right:10px;
    top:20px;
    font-size: 2.5rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* The container */
/*.ch-container {
    display: block;
    position: relative;
    font-size:1.6rem;
    line-height:2.2rem;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-overflow-scrolling: touch;
}

/* Hide the browser's default checkbox */
/*.ch-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
/*.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    box-sizing: initial;
    /*background-color: #ccc;*/
 /*   border:1.5px solid #ccc;
}

/* On mouse-over, add a grey background color */
/*.ch-container:hover input ~ .checkmark {
    background-color: #ccc;
    -webkit-transition-duration: 0.4s; /* Safari */
  /*  transition-duration: 0.4s;
}

/* When the checkbox is checked, add a blue background */
/*.ch-container input:checked ~ .checkmark {
    /*background-color: #ccc;*/
 /*   -webkit-transition-duration: 0.4s; /* Safari */
  /*  transition-duration: 0.4s;
}

/* Create the checkmark/indicator (hidden when not checked) */
/*.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
/*.ch-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
/*.ch-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Add Animation */
/*@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: -40px; opacity: 1}
}*/

      /*style the box*/  
      /*.gm-style .gm-style-iw {
        background-color: #4f8bc6 !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        max-width:260px !important;
        max-height: 100% !important;
        min-height: 379px !important;
        padding: 0px;
        overflow:hidden;
        text-align: center;
        display: block !important;
     } */   

     /*.iframe {
         position:relative;
         max-width:260px !important;
         padding:0;
         margin:0;
         right:0;
     }*/

     /*.iframe iframe {
         max-width:100% !important;
         padding:0 !important;
         margin:0 !important;

     }*/
 
     /*style the p tag*/
     /*.gm-style .gm-style-iw #google-popup p{
        padding: 10px;
     }*/
     
 
    /*style the arrow*/
    /*.gm-style div div div div div div div div div {
        background: url(../img/film-punkt.svg);
        background-color: transparent !important;
        /*background-color: #3C61AD !important;*/
        /*padding: 0;
        margin: 0;
        padding: 0;
        top: 0;
        color: #4f8bc6;
        font-size: 16px;
    }*/
    
    /*style the link*/
    /*.gm-style div div div div div div div div a {
        color: #f1f1f1;
        font-weight: bold;
    }*/

/*button {
    height:40px;
    width:80px;
}*/


#logo {
    position:absolute;
    left:20px;
    top:20px;
    width:300px;
    z-index:100;
    overflow:visible;
}

#cover-container {
    background-image: url("../img/cover_blue.jpg");
    height:100%;
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #73abe0; /*#96368b;*/
    /*background-blend-mode: multiply;   */
    text-align:center;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#cover-container-skole {
    height:100%;
    position:relative;
    background-position: center;
    text-align:center;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/*#cover-container-skole {
    height:auto;
    overflow-y:visible;
    position:relative;
    background-position: center;
    text-align:center;
    -webkit-overflow-scrolling: touch;
}*/

#cover-text, #donate-text {
    position:relative;
    text-align:left;
    width:500px;
    height:65vh;
    overflow-y:scroll;
    overflow-x:hidden; 
    top:65px;
    left:40%;
}

#donate-text {
    height:80vh;
}

#cover-text p, li, #donate-text p, li, #cover-text-skole p, li {
    font-size:2.0rem;
    hyphens: auto;
    margin-bottom:10px;
}

#cover-text h1, #donate-text h1, #cover-text-skole h1, .games-container h1 {
    font-size:3.8rem;
    line-height:40px;
    hyphens: manual;
    margin-bottom:15px;
}

#cover-text-skole {
    position:relative;
    text-align:left;
    width:500px;
    height:auto;
    overflow-y:scroll;
    overflow-x:hidden; 
    top:65px;
    margin-bottom:20px;
    left:40%;
}

/*#cover-text-skole {
    position:relative;
    text-align:left;
    width:500px;
    height:auto;
    overflow-y:auto;
    overflow-x:hidden; 
    top:65px;
    margin-bottom:20px;
    left:40%;
}*/

#cover-text-skole a:hover {
    color:#4f8bc6;
}

.bold {
    font-weight:bold;
}

/*knapp som fører til appen*/
#app-button {
    width:230px;
    height:60px;
    margin-top:15px;
    text-align:center;	
    background-color: transparent !important;
    border:2px solid white;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size:1.7rem;
    color:white;
    outline:none;
    cursor: pointer;
}

.first-button {
    margin-right:20px;
}

#app-button:hover {
    background-color: white !important;
    color:black;
}

/*  app-side  */

#map {
    height:100vh;
    width:100%;
}

/*knappemeny inne i appen*/
#button-menu {
    width:150px;
    height:40px;
    position:fixed;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    /*bottom:30px;*/
    bottom:10px;
    z-index: 8000;
    text-align:center;/*midtstille kompasset*/
}

/*Toggle overlay button*/

#ToggleOverlayBtn {
    border:none;
    position:relative;
    /*transform: translateY(-100%) translateX(150px);*/
    z-index:7000;
    cursor: pointer;
    background-color: white !important;
    border-radius: 20px;
    width:32px;
    height:32x;
    /*left:10px;
    bottom:4px;*/
    outline:none;
    line-height: 0;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    transition: all ease-in-out .2s ;
}

#ToggleOverlayBtn:hover  {
    background-color: #4F8BC6 !important;
}

#ToggleOverlayBtn svg {
    position:relative;
    width: 32px;
    max-height:32px;
}

#ToggleOverlayBtn svg path {
    fill:black;
}

/*Games*/

.games-container {
    width:70%;
    margin:auto;
    top:30px;
    position:relative;
    margin-bottom:40px;
}

.game {
    width:45%;
    margin:1.5%;
    display:inline-block;
    position: relative;
}

.game img {
    width:100%;
    max-width:300px;
    min-width:180px;
    height:auto;
}

.games-container p {
    color:white;
    font-size:2rem;
    margin:5px;
}



/* Modal button */

/*#myBtn {
    border:none;
    position:relative;
    transform: translateY(-100%) translateX(-100%);
    z-index:7000;
    cursor: pointer;
    background-color: #4f8bc6 !important;
    border-radius: 20px;
    background-image:linear-gradient(to bottom,#5494d3, #39648f);
    width:32px;
    height:32x;
    right:10px;
    bottom:4px;
    outline:none;
    line-height: 0;
}

#myBtn:hover  {
    background-color: white !important;
    background-image:none;
    transition: all ease-in-out .3s ;
}

#myBtn svg {
    position:relative;
    width: 32px;
    max-height:32px;
    margin-right:10px;
}

#myBtn svg path {
    fill:white;
}

#myBtn svg:hover path {
    fill:black;
    transition: all ease-in-out .3s ;
}*/

#toggleWatchBtn {
    /*width:100%;*/
    /*max-height:40px;*/
    padding:8px;
    position:relative;
    text-align:center;
    margin-left:50%;
    margin-right:auto;
    white-space: nowrap;
    transform: translate(-50%, 0);
    background-color: white !important;
    background-image:linear-gradient(to bottom,white, #a8a8a8);
    /*background-image:linear-gradient(to bottom,#ee984d, #c77f3f);*/
    border:2px solid gray;
    border-radius: 10px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    transition: all ease-in-out .2s ;
    font-size:1.5rem;
    color:black;
    cursor: pointer;
    outline:none;
    z-index: 5000;
}

#toggleWatchBtn:hover, #toggleWatchBtn:focus {
    background-color: #4F8BC6 !important;
    background-image:none;
}

/*mobile*/

@media only screen and (min-width: 830px) { 

/*    #partnere img:nth-child(12) {
        margin-left:-4px;
    }*/
}


@media only screen and (min-width: 630px) and (max-width: 830px) {
    #logo {
        width:200px;
        top:38px;
        left:25px;
    }

    #cover-text, #cover-text-skole, #donate-text {
        width: 400px;
        left:36%;
    }

    #cover-text p, #donate-text p  {
        font-size:1.8rem;
    }

    #app-button {
        width: 180px;
        margin-top:10px;
        font-size:1.3rem;

    }

/*
    #partnere img {
        width:6.4%;
    }

    #partnere img:nth-child(11) {
        min-width:0px;
    }

    #partnere img:nth-child(12) {
        margin-left:-2px;
    }
*/
    .noscroll {overflow:hidden !important; overflow-y:hidden !important;}

    

}

@media only screen and (max-width: 630px) {
    
    header {
        position: relative;
        width:100%;
        text-align: left;
        padding-bottom:20px;
        background-color:white;
    }

    .tidvis-logo {
        position:relative;
        left:15px;
        right:0px;
    }

    .site-nav {
        top:0%;
    }

    .noscroll {overflow:hidden !important; overflow-y:hidden !important;}

    .site-nav--open {
        width:100%;
    }

    .site-nav ul {
        text-align:center;
    }

    .site-nav a {
        font-size:2.8rem;
        line-height: 2.0em;
    }

    #logo-box {
        position: relative;
        margin-left:auto;
        margin-right:auto;
    }
    
    #logo {
        left:0px;
        position:relative;
    }

    #app-button {
        float:left;
    }

    /*#cover-container-skole {
        overflow-y:visible;
    }*/
    
    #cover-text, #cover-text-skole, #donate-text {
        width:80%;
        /*height:auto;*/
        display:inline-block;
        left:0%;
        top:0px;
        margin-bottom:60px;
        margin-top:20px;
        color:white;
        position:relative;
        text-align: center;
    }

    #cover-text-skole, #donate-text {
        color:black;
    }

    #cover-text p, li, #cover-text-skole p, li, #donate-text p, li {
        font-size:1.8rem;
        text-align:left;
    }
    
    #cover-text h1, #cover-text-skole h1, .games-container h1 {
        font-size:3.2rem;
        text-align:left;
    }
    
    #partnere {
        position:relative;
        margin-top:50px;
    }

    .partnere {
        display:none;
    }
    
    .partnere_mobil {
        max-width:200px;
        display:block;
        position:relative;
        /*max-height:120px;*/
        /*width:50%;*/
        /*max-width:200px;*/
        margin-left:auto;
        margin-right:auto;
        margin-bottom:40px;
    }
    /*
    #partnere img:nth-child(4) {
        margin-top:10px;
        margin-bottom:60px;
    }
    
    #partnere img:nth-child(8) {
        margin-top:30px;
    }
*/
    #logo-box-app {
        display:none;
    }

    #language-bar { 
        top:16px;
        right:70px;
    }

    #skole, #skole2 {
        right:120px;
    }

    #print-map {
        right:230px;
        display:none;
    }

    #donate {
        right:210px;
    }

    #donate a, #print-map a, #skole a {
        font-size:1.3em;
    }
    
    #skole a:hover, #print-map a:hover {
        color:#f1a664;
        background-color:transparent;
    }
    
    #skole2 a:hover {
        background-color:black;
    }

    .game {
        display:block;
        width:100%;
        margin:0;
        margin-bottom:15px;
    }

   /* .modal-content {
        transform: rotate(0deg);
        width:90%;
        height:auto;
        top:20px;
        margin-bottom:20px;
        padding-top:4em;
        padding:3.5em;
    }

    .modal-content p {
        font-size: 1.4rem;
        line-height:20px;
    }

    .modal-content h1 {
        font-size:3.4rem;
        line-height:36px;
    }

    .modal-content h2 {
        font-size:1.6rem;
        line-height:28px;
    }

    .ch-container {
        font-size: 1.4rem;
        line-height: 2.0rem;
    }

    .ch-container:hover input ~ .checkmark, .ch-container:focus input ~ .checkmark {
        background-color: transparent;
    }

    .close {
        right:15px;
        top:15px;
    }*/
    
    /* Add Animation */
/*@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 20px; opacity: 1}
}*/

}

@media only screen and (min-width: 630px) {

.fade-up {
    /*mix-blend-mode: hard-light;*/
    -webkit-mask-image: linear-gradient(to bottom, white 85%, transparent);
    mask-image: linear-gradient(to bottom, white 85%, transparent);
}

/*
#partnere img:nth-child(1) {
    margin-right:10px;
}

#partnere img:nth-child(3), #partnere img:nth-child(4) {
    margin-left:-5px;
}

#partnere img:nth-child(5) {
    margin-right:10px;
    margin-left:10px;
}

#partnere img:nth-child(7) {
    margin-right:10px;
    margin-left:10px;
}

#partnere img:nth-child(11) {
    margin-left:-2px;
    width:4%;
    max-height:35px;
}

#partnere img:nth-child(12) {
    margin-right:-15px;
    width:5%;
    max-height:35px;
}

.tidvis-logo:hover path {
    fill:white;
}

#cover-container-skole .tidvis-logo:hover path {
    fill:#4f8bc6;
}
*/
}


/*iframes*/
/*.gm-style-iw {
	top: 15px !important;
	background-color:#4f8bc6;
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.5);
    text-align:center;
    padding-top:10px;
	border-radius: 10px 10px 10px 10px;
}*/

.custom-close {
    opacity: 1;
    right: -5px;
    top: -5px;
    position:absolute;
    outline:none;
    width: 23px;
    height: 23px;
    background-image: url(../img/x.svg);
    border: 5px solid #4f8bc6;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    background-color: #4f8bc6;
    overflow: hidden;
    cursor:pointer;
}

.custom-close:hover {
    background-color:black;
    border: 5px solid black;
    transition: all 0.3s ease-in-out;
}

.iw-title {
    font-size: 1.6rem;
    letter-spacing: 0.04rem;
    text-align:center;
    padding:5px;
    padding-bottom:7px;
    color: white;
}

#iw-container {
    margin: 0px !important;
    padding:0px !important;
    overflow-x: hidden;
}

iframe {
    padding:0px !important;
    margin:0px !important;
    max-width:100% !important;
}

.custom-window {
    margin-top: 0px !important;
}

@media print {
    #logo, #logo-box, #partnere, #language-bar, #skole, #skole2, .laerer-info, .elev-info {
        display:none;
    }

    #cover-text, #cover-text-skole {
        left:15%;
        height:auto;
    }

    * {
        overflow: visible !important;
        overflow-y: visible !important;
        }

    }